In [73]:
import pandas as pd

In [206]:
df_3=pd.read_excel('Informe Rondas e Interconsultas_01_11_2020_13_11_2020.xlsx')
df_1=pd.read_excel('Informe Rondas e Interconsultas_01_09_2020_30_09_2020.xlsx')
df_2=pd.read_excel('Informe Rondas e Interconsultas_01_10_2020_31_10_2020.xlsx')

In [208]:
df_4=pd.concat([df_1, df_2])

In [209]:
df_inicio=pd.concat([df_4, df_3])

In [211]:
df_inicio['Tipone'].value_counts()

ronda            56293
Interconsulta    54318
notas            45214
Name: Tipone, dtype: int64

# primero buscamos las rondas

In [217]:
df_MI['Medico'].value_counts()

Giovana Alejandra Solano Villamarin        1246
Edwin Jesus Ariza Parra                    1046
Alexander Alonso Encarnacion                995
Andres José Garcia Montoya                  988
Santiago Orozco Montoya                     985
Gustavo Amador Crespo Habib                 975
Juan David Romero Marin                     902
John Fredy Hernández Granada                896
Xiomara Hernandez Camargo                   892
Luis Miguel Moreno Bermudez                 883
Kevin Yamit Ruales Mora                     825
Ana Maria Valencia Ruiz                     823
Janeth Leal Bello                           822
Fredy Andrés Rivera Sotto                   815
Juliana Marcela Bustamante Trespalacios     800
Andres Humberto Ospina Perez                783
Marta Luz Valencia Zuluaga                  783
Jaime Andres Castrillon Estrada             738
Marco Guardia Castro                        733
Juan Diego Gamba Villamil                   730
Jhon Jairo Reyes Rodriguez                  671
Julio Cesar Valencia Maturana               609
Luis Carlos Caparroso Perez                 609
Henry Quevedo Florez                        555
Jair Alfonso Mercado Assia                  510
Luis Alberto Cruz Peña                      444
Santiago Alvarez Lopez                      439
Alejandro Hernandez Arango                  426
Diana Catalina Alzate M                     106
Rene Alejandro Manzur Calderon                4
medico pruebas pruebas                        3
YOLIMA URIBE GRAJALES                         1
Name: Medico, dtype: int64

In [213]:
#Hacemos el preprocesamiento.
df_MI[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']] = df_MI[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']].astype('category')
df_MI.convert_dtypes().dtypes

/Users/alejo/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

NotaEvolucionId                    Int64
Sede                               Int64
yIdPacienteAtencion                Int64
vPApellido                        string
vSApellido                        string
vPNombre                          string
vSNombre                          string
TipoDocumento                   category
vIdentificacion                   string
vDireccion                        string
FechaNacimiento                   string
Edad                              string
vGenero                           string
DiagnosticoID                     string
Descripcion                       string
DxRelacionado1                     Int64
DxRelacionado2                     Int64
DxRelacionado3                     Int64
Tipone                          category
Fecha                             string
Hora                              string
UsuarioID                         string
Medico                          category
DescripcionEspecialidad         category
Servicio                        category
UsuarioEstudiante                  Int64
NombreEstudiante                  string
Avalado                           string
FechaOrden                        string
FechaAltaEspecialidad             string
AseguradoraResponsablePago        string
ContratoAseguradora               string
Subjetivo                         string
Objetivo                          string
Analisis                          string
Plan                              string
FracturaAbierta                   string
NoTieneInfeccion                  string
UlceraPorPresion                  string
PieDiabetico                      string
InfeccionRelacionadaFractura      string
dtype: object

In [214]:
df_MI['Fecha']=pd.to_datetime(df_MI['Fecha'])

/Users/alejo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [215]:
df_MI['Servicio'].value_counts()

Piso 4 Occidente                     2937
Piso 4 Medicina Interna Sur          1437
Piso 2 UCE                           1407
Piso 5 Medicina Interna Sur          1398
Piso 5 Medicina Interna Norte        1273
Piso 7 Medicina Interna Sur          1256
Piso_10 Medicina Interna             1100
Piso 3 Occidente                     1065
Piso 8 Medicina Interna Sur          1063
Piso 8 Medicina Interna Norte        1047
Piso 6 Medicina Interna Sur           929
Piso 6 Medicina Interna Norte         927
Piso 7 Medicina Interna Norte         809
Piso 5 UCI                            763
Piso 3                                724
Piso 3 Oriente                        695
Piso 2 UCI                            465
Piso 9 Medicina Interna Sur           415
Piso 2 Occidente                      274
Camillas Sala 5 Urgencias             236
Camillas Sala 6  Urgencias            213
Piso 4 Oriente                        203
Camillas Sala 7  Urgencias            194
Sala de Transición                    182
Camillas Sala 3  Urgencias            166
Camillas Sala 4  Urgencias            143
Observación Paciente Respiratorio     127
Piso 7 UCI Neurocirugía               104
Camillas Sala 8 - Blanca              100
Piso 6 UCE                             93
Observación Individual                 68
Fast track 1                           41
ERA                                    40
Fast track 2                           33
Traumas Urgencias                      16
Piso 9 Medicina Interna Norte          15
Piso 2 UCI-V                           13
Piso 7 UCI Medicoquirúrgica            12
Piso 7 UCI Cardiovascular               7
Sistemas de Informacion                 4
Reanimación COVID                       3
Observación Pediatria                   2
Camillas SAI Adultos                    2
Cirugia                                 1
Piso 4 UCI-V                            1
Name: Servicio, dtype: int64

In [80]:
#Crear el grupo A filtrado por pisos
df_MI_grupoA= df_MI.loc[(df_MI['Servicio'] == 'Piso 6 Medicina Interna Norte')|(df_MI['Servicio'] == 'Piso 6 Medicina Interna Sur')|(df_MI['Servicio'] == 'Piso 8 Medicina Interna Norte')|(df_MI['Servicio'] == 'Piso 9 Medicina Interna Norte')]

In [82]:
#Borrramos las notas adicionales 
indexNames = df_MI_grupoA[ df_MI['Tipone'] =='notas'].index
df_MI_grupoA.drop(indexNames , inplace=True)

/Users/alejo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/alejo/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [83]:
df_MI_grupoA['Tipone'].value_counts(dropna=True)

ronda            896
Interconsulta    160
notas              0
Name: Tipone, dtype: int64

In [84]:
pac_grupoA=df_MI_grupoA['Fecha'].value_counts(dropna=True)

In [85]:
#le damos formato a las variables
pac_grupoA = pd.DataFrame(pac_grupoA)
pac_grupoA = pac_grupoA.reset_index()
pac_grupoA.columns = ['Fecha', 'numero_pacientes']
pac_grupoA.set_index('Fecha')

            numero_pacientes
Fecha
2020-10-09                41
2020-09-13                40
2020-12-09                40
2020-11-09                39
2020-09-22                38
2020-09-14                38
2020-06-09                38
2020-03-09                38
2020-09-17                37
2020-01-09                37
2020-09-16                37
2020-04-09                36
2020-09-21                35
2020-09-09                35
2020-08-09                35
2020-09-27                35
2020-07-09                35
2020-09-20                34
2020-02-09                34
2020-09-23                34
2020-09-29                33
2020-09-18                33
2020-09-30                33
2020-09-19                33
2020-09-24                33
2020-09-15                32
2020-09-26                32
2020-05-09                32
2020-09-28                30
2020-09-25                29

In [86]:
pac_grupoA.head(2)

       Fecha  numero_pacientes
0 2020-10-09                41
1 2020-09-13                40

In [87]:
df_MI_grupoA['Medico'].value_counts(dropna=True)

Luis Alberto Cruz Peña                     254
Marco Guardia Castro                       250
Henry Quevedo Florez                       240
Luis Carlos Caparroso Perez                236
Jhon Jairo Reyes Rodriguez                  50
Juliana Marcela Bustamante Trespalacios     24
Jair Alfonso Mercado Assia                   1
Rene Alejandro Manzur Calderon               1
Ana Maria Valencia Ruiz                      0
Alexander Alonso Encarnacion                 0
Andres José Garcia Montoya                   0
Diana Catalina Alzate M                      0
Edwin Jesus Ariza Parra                      0
Fredy Andrés Rivera Sotto                    0
Giovana Alejandra Solano Villamarin          0
Gustavo Amador Crespo Habib                  0
Andres Humberto Ospina Perez                 0
Xiomara Hernandez Camargo                    0
Jaime Andres Castrillon Estrada              0
Janeth Leal Bello                            0
Santiago Orozco Montoya                      0
John Fredy Hernández Granada                 0
Juan David Romero Marin                      0
Juan Diego Gamba Villamil                    0
Julio Cesar Valencia Maturana                0
Kevin Yamit Ruales Mora                      0
Luis Miguel Moreno Bermudez                  0
Marta Luz Valencia Zuluaga                   0
Alejandro Hernandez Arango                   0
Name: Medico, dtype: int64

In [88]:
#cuenta los pacientes por medico en el grupo A y los agrega al DF

Medico=df_MI_grupoA['Medico']=='Marco Guardia Castro'
df_Medico=df_MI_grupoA[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Marco Guardia Castro']
Grupo_A=pd.merge(Medicodf,pac_grupoA, indicator=False, how='right', on='Fecha')

In [89]:
Medico1=df_MI_grupoA['Medico']=='Luis Carlos Caparroso Perez'
df_Medico1=df_MI_grupoA[Medico1]
df_Medico1.set_index('Fecha')
df_count1=df_Medico1.groupby('Fecha').count()
Medicodf=df_count1['NotaEvolucionId']
Medicodf1=pd.DataFrame(Medicodf)
Medicodf1.columns = ['Luis Carlos Caparroso Perez']
Grupo_A1=pd.merge(Medicodf1,Grupo_A, indicator=False, how='right', on='Fecha')

In [90]:
Medico=df_MI_grupoA['Medico']=='Henry Quevedo Florez'
df_Medico=df_MI_grupoA[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Henry Quevedo Florez']
Grupo_A2=pd.merge(Medicodf,Grupo_A1, indicator=False, how='right', on='Fecha')

In [91]:
Medico=df_MI_grupoA['Medico']=='Luis Alberto Cruz Peña'
df_Medico=df_MI_grupoA[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Luis Alberto Cruz Peña']
Grupo_A3=pd.merge(Medicodf,Grupo_A2, indicator=False, how='right', on='Fecha')

In [118]:
Medicodf

            Santiago Orozco Montoya
Fecha
01/09/2020                        4
02/09/2020                        5
03/09/2020                        4
05/09/2020                        9
06/09/2020                        6
16/09/2020                        4
17/09/2020                        2
21/09/2020                        6
22/09/2020                        6
23/09/2020                        6
24/09/2020                        9
25/09/2020                        9
29/09/2020                        4
30/09/2020                        4

In [93]:
#GrupoD

#Crear el grupo A filtrado por pisos
df_MI_grupoD= df_MI.loc[(df_MI['Servicio'] == 'Piso 5 Medicina Interna Norte')|(df_MI['Servicio'] == 'Piso 5 Medicina Interna Sur')|(df_MI['Servicio'] == 'Piso_10 Medicina Interna')]
df_MI_grupoD.reset_index(drop=True)
#Borrramos las notas adicionales 
#indexNames = df_MI_grupoD[ df_MI['Tipone'] =='notas'].index
#df_MI_grupoD.drop(indexNames , inplace=True)
pac_grupoA=df_MI_grupoD['Fecha'].value_counts(dropna=True)
#le damos formato a las variables
pac_grupoA = pd.DataFrame(pac_grupoA)
pac_grupoA = pac_grupoA.reset_index()
pac_grupoA.columns = ['Fecha', 'numero_pacientes']
pac_grupoA.set_index('Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoD['Medico']=='Alejandro Hernandez Arango'
df_Medico=df_MI_grupoD[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Alejandro Hernandez Arango']
Grupo_A=pd.merge(Medicodf,pac_grupoA, indicator=False, how='right', on='Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoD['Medico']=='Juan David Romero Marin'
df_Medico=df_MI_grupoD[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Juan David Romero Marin']
Grupo_A1=pd.merge(Medicodf,Grupo_A, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoD['Medico']=='Julio Cesar Valencia Maturana'
df_Medico=df_MI_grupoD[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Julio Cesar Valencia Maturana']
Grupo_A2=pd.merge(Medicodf,Grupo_A1, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoD['Medico']=='Ana Maria Valencia Ruiz'
df_Medico=df_MI_grupoD[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Ana Maria Valencia Ruiz']
Grupo_A3=pd.merge(Medicodf,Grupo_A2, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoD['Medico']=='Edwin Jesus Ariza Parra'
df_Medico=df_MI_grupoD[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Edwin Jesus Ariza Parra']
Grupo_D4=pd.merge(Medicodf,Grupo_A3, indicator=False, how='right', on='Fecha')

#cuenta los pacientes por medico en el grupo y los agrega al DF

Medico=df_MI_grupoD['Medico']=='Edwin Uriel Suarez Mercha'
df_Medico=df_MI_grupoD[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Edwin Uriel Suarez Mercha']
Grupo_D5=pd.merge(Medicodf,Grupo_D4, indicator=False, how='right', on='Fecha')

In [94]:
#une los DF
Grupo_D5

,Edwin Uriel Suarez Mercha,Fecha,Edwin Jesus Ariza Parra,Ana Maria Valencia Ruiz,Julio Cesar Valencia Maturana,Juan David Romero Marin,Alejandro Hernandez Arango,numero_pacientes
0,NaN,2020-01-09,17.0,16.0,16.0,NaN,NaN,59
1,NaN,2020-02-09,14.0,15.0,NaN,NaN,13.0,55
2,NaN,2020-03-09,16.0,13.0,NaN,NaN,13.0,55
3,NaN,2020-04-09,17.0,14.0,13.0,NaN,NaN,60
4,NaN,2020-05-09,29.0,NaN,28.0,NaN,NaN,57
5,NaN,2020-06-09,27.0,NaN,25.0,NaN,NaN,52
6,NaN,2020-07-09,19.0,18.0,NaN,NaN,18.0,55
7,NaN,2020-08-09,19.0,17.0,NaN,16.0,NaN,52
8,NaN,2020-09-09,14.0,12.0,NaN,14.0,12.0,52
9,NaN,2020-09-14,27.0,21.0,NaN,NaN,19.0,67
10,NaN,2020-09-15,23.0,20.0,NaN,NaN,NaN,64
11,NaN,2020-09-16,23.0,20.0,NaN,NaN,NaN,64
12,NaN,2020-09-17,23.0,18.0,NaN,NaN,NaN,61
13,NaN,2020-09-18,17.0,NaN,16.0,NaN,NaN,49
14,NaN,2020-09-19,29.0,NaN,NaN,NaN,NaN,50
15,NaN,2020-09-20,30.0,NaN,NaN,NaN,NaN,50
16,NaN,2020-09-21,17.0,16.0,NaN,14.0,NaN,47
17,NaN,2020-09-22,12.0,11.0,NaN,11.0,NaN,44
18,NaN,2020-09-23,21.0,17.0,NaN,NaN,NaN,55
19,NaN,2020-09-25,18.0,19.0,NaN,18.0,NaN,55
20,NaN,2020-09-28,19.0,NaN,NaN,19.0,NaN,57
21,NaN,2020-09-29,18.0,17.0,15.0,NaN,NaN,50
22,NaN,2020-09-30,14.0,12.0,11.0,12.0,NaN,49
23,NaN,2020-09-13,NaN,29.0,NaN,NaN,31.0,60
24,NaN,2020-09-24,NaN,17.0,NaN,18.0,NaN,52
25,NaN,2020-09-26,NaN,25.0,NaN,NaN,23.0,48
26,NaN,2020-09-27,NaN,25.0,NaN,NaN,25.0,50
27,NaN,2020-10-09,NaN,16.0,NaN,15.0,16.0,47
28,NaN,2020-11-09,NaN,15.0,NaN,14.0,13.0,43
29,NaN,2020-12-09,NaN,27.0,NaN,NaN,26.0,53

In [151]:
#GrupoB

#Crear el grupo B filtrado por pisos
df_MI_grupoB= df_MI.loc[(df_MI['Servicio'] == 'Piso 3 Occidente')|(df_MI['Servicio'] == 'Piso 3 Oriente')|(df_MI['Servicio'] == 'Piso 4 Medicina Interna Sur')|(df_MI['Servicio'] == 'Piso 9 Medicina Interna Sur')]
df_MI_grupoB.reset_index(drop=True)
#Borrramos las notas adicionales 
indexNames = df_MI_grupoD[ df_MI['Tipone'] =='notas'].index
df_MI_grupoD.drop(indexNames , inplace=True)
pac_grupoB=df_MI_grupoB['Fecha'].value_counts(dropna=True)
#le damos formato a las variables
pac_grupoB = pd.DataFrame(pac_grupoB)
pac_grupoB = pac_grupoB.reset_index()
pac_grupoB.columns = ['Fecha', 'numero_pacientes']
pac_grupoB.set_index('Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Kevin Yamit Ruales Mora'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Kevin Yamit Ruales Mora']
Grupo_B=pd.merge(Medicodf,pac_grupoB, indicator=False, how='right', on='Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Marta Luz Valencia Zuluaga'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Marta Luz Valencia Zuluaga']
Grupo_B1=pd.merge(Medicodf,Grupo_B, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Andres José Garcia Montoya'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Andres José Garcia Montoya']
Grupo_B2=pd.merge(Medicodf,Grupo_B1, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='John Fredy Hernández Granada'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['John Fredy Hernández Granada']
Grupo_B3=pd.merge(Medicodf,Grupo_B2, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Xiomara Hernandez Camargo'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Xiomara Hernandez Camargo']
Grupo_B4=pd.merge(Medicodf,Grupo_B3, indicator=False, how='right', on='Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Santiago Orozco Montoya'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Santiago Orozco Montoya']
Grupo_B4_R=pd.merge(Medicodf,Grupo_B3, indicator=False, how='right', on='Fecha')
Grupo_B4_R=Grupo_B4_R.set_index('Fecha')

/Users/alejo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
/Users/alejo/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [152]:
Grupo_B4_R

,Santiago Orozco Montoya,John Fredy Hernández Granada,Andres José Garcia Montoya,Marta Luz Valencia Zuluaga,Kevin Yamit Ruales Mora,numero_pacientes
Fecha,,,,,,
2020-01-09,7.0,NaN,NaN,NaN,18.0,41
2020-02-09,12.0,NaN,NaN,13.0,NaN,42
2020-03-09,12.0,15.0,NaN,13.0,NaN,40
2020-05-09,26.0,NaN,NaN,NaN,20.0,46
2020-06-09,25.0,NaN,NaN,NaN,20.0,45
2020-09-15,13.0,NaN,15.0,15.0,NaN,44
2020-09-16,14.0,17.0,18.0,NaN,NaN,49
2020-09-17,6.0,10.0,14.0,NaN,NaN,41
2020-09-21,12.0,NaN,NaN,15.0,14.0,41
2020-09-22,13.0,NaN,NaN,13.0,NaN,41
2020-09-23,13.0,NaN,NaN,NaN,15.0,43
2020-09-24,13.0,NaN,NaN,NaN,19.0,52
2020-09-25,11.0,NaN,NaN,20.0,NaN,44
2020-09-29,11.0,11.0,NaN,NaN,14.0,51
2020-09-30,12.0,NaN,NaN,NaN,18.0,46
2020-04-09,NaN,14.0,NaN,NaN,14.0,43
2020-07-09,NaN,19.0,17.0,10.0,NaN,46
2020-08-09,NaN,18.0,22.0,13.0,NaN,53
2020-09-13,NaN,22.0,NaN,27.0,NaN,49
2020-09-14,NaN,17.0,18.0,13.0,NaN,48
2020-09-28,NaN,16.0,NaN,NaN,21.0,54
2020-10-09,NaN,19.0,21.0,NaN,17.0,58
2020-11-09,NaN,19.0,NaN,21.0,16.0,56
2020-12-09,NaN,21.0,NaN,27.0,NaN,48
2020-09-09,NaN,NaN,18.0,18.0,18.0,54
2020-09-18,NaN,NaN,12.0,13.0,NaN,38
2020-09-19,NaN,NaN,19.0,NaN,NaN,38
2020-09-20,NaN,NaN,18.0,NaN,NaN,40
2020-09-26,NaN,NaN,NaN,23.0,NaN,47
2020-09-27,NaN,NaN,NaN,24.0,NaN,49

# Interconsultas

In [138]:
#Filtramos solo por IC
df_MI_IC = df_inicio.loc[df_inicio['Tipone'] == 'Interconsulta']

In [139]:
#Filtramos por especialidad
df_MI_IC = df_MI_IC.loc[df_MI_IC['DescripcionEspecialidad'] == 'Medicina Interna']

In [200]:
#definimos tipos
df_MI_IC[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']] = df_MI_IC[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']].astype('category')
df_MI_IC.convert_dtypes().dtypes
df_MI_IC['Fecha']=pd.to_datetime(df_MI_IC['Fecha'])

In [188]:
#GrupoB Interconsultas
def interconsulta(int1,int2,int2,int4,int5):
#Crear el grupo B filtrado por pisos
df_MI_grupoB= df_MI_IC.loc[(df_MI_IC['Servicio'] == 'Piso 3 Occidente')|(df_MI_IC['Servicio'] == 'Piso 3 Oriente')|(df_MI_IC['Servicio'] == 'Piso 4 Medicina Interna Sur')|(df_MI_IC['Servicio'] == 'Piso 9 Medicina Interna Sur')]
df_MI_grupoB.reset_index(drop=True)
#Borrramos las notas adicionales 
#indexNames = df_MI_grupoD[ df_MI['Tipone'] =='notas'].index
#df_MI_grupoD.drop(indexNames , inplace=True)
pac_grupoB=df_MI_grupoB['Fecha'].value_counts(dropna=True)
#le damos formato a las variables
pac_grupoB = pd.DataFrame(pac_grupoB)
pac_grupoB = pac_grupoB.reset_index()
pac_grupoB.columns = ['Fecha', 'numero_pacientes']
pac_grupoB.set_index('Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Kevin Yamit Ruales Mora'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Kevin Yamit Ruales Mora']
Grupo_B=pd.merge(Medicodf,pac_grupoB, indicator=False, how='right', on='Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Marta Luz Valencia Zuluaga'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Marta Luz Valencia Zuluaga']
Grupo_B1=pd.merge(Medicodf,Grupo_B, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Andres José Garcia Montoya'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Andres José Garcia Montoya']
Grupo_B2=pd.merge(Medicodf,Grupo_B1, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='John Fredy Hernández Granada'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['John Fredy Hernández Granada']
Grupo_B3=pd.merge(Medicodf,Grupo_B2, indicator=False, how='right', on='Fecha')
#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Xiomara Hernandez Camargo'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Xiomara Hernandez Camargo']
Grupo_B4=pd.merge(Medicodf,Grupo_B3, indicator=False, how='right', on='Fecha')

#cuenta los pacientes por medico en el grupo  y los agrega al DF

Medico=df_MI_grupoB['Medico']=='Santiago Orozco Montoya'
df_Medico=df_MI_grupoB[Medico]
df_Medico.set_index('Fecha')
df_count=df_Medico.groupby('Fecha').count()
Medicodf=df_count['NotaEvolucionId']
Medicodf=pd.DataFrame(Medicodf)
Medicodf.columns = ['Santiago Orozco Montoya']
Grupo_B4_IC=pd.merge(Medicodf,Grupo_B3, indicator=False, how='right', on='Fecha')
Grupo_B4_IC=Grupo_B4_IC.set_index('Fecha')

#armar el data set total 
Grupo_B_total= Grupo_B4_IC.add(Grupo_B4_R, fill_value=0)
Grupo_B_total=Grupo_B_total.fillna(0)
X=Grupo_B_total['numero_pacientes']
Grupo_B_total=Grupo_B_total.drop('numero_pacientes',axis=1)
Grupo_B_total['num_paciente_vistos']=(Grupo_B_total.sum(axis = 1, skipna = True))
Grupo_B_total['numero_pacientes']=X

In [229]:
Grupo_B_total

,Santiago Orozco Montoya,John Fredy Hernández Granada,Andres José Garcia Montoya,Marta Luz Valencia Zuluaga,Kevin Yamit Ruales Mora,num_paciente_vistos,numero_pacientes
Fecha,,,,,,,
2020-01-09,11.0,0.0,0.0,0.0,19.0,30.0,48
2020-02-09,17.0,0.0,0.0,14.0,0.0,31.0,51
2020-03-09,16.0,19.0,0.0,15.0,0.0,50.0,50
2020-04-09,0.0,20.0,0.0,0.0,16.0,36.0,52
2020-05-09,35.0,0.0,0.0,0.0,24.0,59.0,59
2020-06-09,31.0,0.0,0.0,0.0,23.0,54.0,54
2020-07-09,0.0,22.0,17.0,15.0,0.0,54.0,54
2020-08-09,0.0,19.0,24.0,21.0,0.0,64.0,64
2020-09-09,0.0,0.0,21.0,20.0,26.0,67.0,67
2020-09-13,0.0,28.0,0.0,30.0,0.0,58.0,58
2020-09-14,0.0,17.0,19.0,19.0,0.0,55.0,55
2020-09-15,13.0,0.0,17.0,21.0,0.0,51.0,53
2020-09-16,18.0,22.0,25.0,0.0,0.0,65.0,65
2020-09-17,8.0,13.0,16.0,0.0,0.0,37.0,51
2020-09-18,0.0,0.0,14.0,16.0,0.0,30.0,47
2020-09-19,0.0,0.0,23.0,0.0,0.0,23.0,48
2020-09-20,0.0,0.0,19.0,0.0,0.0,19.0,47
2020-09-21,18.0,0.0,0.0,17.0,16.0,51.0,51
2020-09-22,19.0,0.0,0.0,14.0,0.0,33.0,51
2020-09-23,19.0,0.0,0.0,0.0,18.0,37.0,54
2020-09-24,22.0,0.0,0.0,0.0,23.0,45.0,66
2020-09-25,20.0,0.0,0.0,23.0,0.0,43.0,58
2020-09-26,0.0,0.0,0.0,27.0,0.0,27.0,60
2020-09-27,0.0,0.0,0.0,27.0,0.0,27.0,66
2020-09-28,0.0,23.0,0.0,0.0,24.0,47.0,71
2020-09-29,15.0,17.0,0.0,0.0,17.0,49.0,67
2020-09-30,16.0,0.0,0.0,0.0,21.0,37.0,57
2020-10-09,0.0,20.0,27.0,0.0,23.0,70.0,72
2020-11-09,0.0,20.0,0.0,26.0,26.0,72.0,72
2020-12-09,0.0,27.0,0.0,31.0,0.0,58.0,58

In [228]:
df_MI['Servicio'].value_counts()

Piso 4 Occidente                     2937
Piso 4 Medicina Interna Sur          1437
Piso 2 UCE                           1407
Piso 5 Medicina Interna Sur          1398
Piso 5 Medicina Interna Norte        1273
Piso 7 Medicina Interna Sur          1256
Piso_10 Medicina Interna             1100
Piso 3 Occidente                     1065
Piso 8 Medicina Interna Sur          1063
Piso 8 Medicina Interna Norte        1047
Piso 6 Medicina Interna Sur           929
Piso 6 Medicina Interna Norte         927
Piso 7 Medicina Interna Norte         809
Piso 5 UCI                            763
Piso 3                                724
Piso 3 Oriente                        695
Piso 2 UCI                            465
Piso 9 Medicina Interna Sur           415
Piso 2 Occidente                      274
Camillas Sala 5 Urgencias             236
Camillas Sala 6  Urgencias            213
Piso 4 Oriente                        203
Camillas Sala 7  Urgencias            194
Sala de Transición                    182
Camillas Sala 3  Urgencias            166
Camillas Sala 4  Urgencias            143
Observación Paciente Respiratorio     127
Piso 7 UCI Neurocirugía               104
Camillas Sala 8 - Blanca              100
Piso 6 UCE                             93
Observación Individual                 68
Fast track 1                           41
ERA                                    40
Fast track 2                           33
Traumas Urgencias                      16
Piso 9 Medicina Interna Norte          15
Piso 2 UCI-V                           13
Piso 7 UCI Medicoquirúrgica            12
Piso 7 UCI Cardiovascular               7
Sistemas de Informacion                 4
Reanimación COVID                       3
Observación Pediatria                   2
Camillas SAI Adultos                    2
Cirugia                                 1
Piso 4 UCI-V                            1
Name: Servicio, dtype: int64

# Rondas e interconsultas

In [289]:
#Filtramos solo por Rondas
df_MI = df_inicio.loc[df_inicio['DescripcionEspecialidad'] == 'Medicina Interna']
indexNames = df_MI[ df_MI['Tipone'] =='notas'].index
df_MI.drop(indexNames , inplace=True)
#df_MI = df_inicio.loc[df_inicio['Tipone'] == 'Ronda']
#Filtramos por especialidad
#definimos tipos
df_MI[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']] = df_MI[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']].astype('category')
df_MI.convert_dtypes().dtypes
#df_MI['Fecha']=pd.to_datetime(df_MI['Fecha'])


#Filtramos solo por IC
df_MI_IC = df_inicio.loc[df_inicio['Tipone'] == 'Interconsulta']
#Filtramos por especialidad
df_MI_IC = df_MI_IC.loc[df_MI_IC['DescripcionEspecialidad'] == 'Medicina Interna']
#definimos tipos
df_MI_IC[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']] = df_MI_IC[['Servicio','Medico','TipoDocumento','DescripcionEspecialidad','Tipone']].astype('category')
df_MI_IC.convert_dtypes().dtypes
#df_MI_IC['Fecha']=pd.to_datetime(df_MI_IC['Fecha'])

NotaEvolucionId                    Int64
Sede                               Int64
yIdPacienteAtencion                Int64
vPApellido                        string
vSApellido                        string
vPNombre                          string
vSNombre                          string
TipoDocumento                   category
vIdentificacion                   string
vDireccion                        string
FechaNacimiento                   string
Edad                              string
vGenero                           string
DiagnosticoID                     string
Descripcion                       string
DxRelacionado1                     Int64
DxRelacionado2                     Int64
DxRelacionado3                     Int64
Tipone                          category
Fecha                             string
Hora                              string
UsuarioID                         string
Medico                          category
DescripcionEspecialidad         category
Servicio                        category
UsuarioEstudiante                  Int64
NombreEstudiante                  string
Avalado                           string
FechaOrden                        string
FechaAltaEspecialidad             string
AseguradoraResponsablePago        string
ContratoAseguradora               string
Subjetivo                         string
Objetivo                          string
Analisis                          string
Plan                              string
FracturaAbierta                   string
NoTieneInfeccion                  string
UlceraPorPresion                  string
PieDiabetico                      string
InfeccionRelacionadaFractura      string
dtype: object

In [326]:
letragrupo=input("ingrese la letra del grupo:")
letragrupo.lower()
#internistas 
grupoA=['Jhon Jairo Reyes Rodriguez','Marco Guardia Castro','Luis Carlos Caparroso Perez','Juliana Marcela Bustamante Trespalacios','Henry Quevedo Florez', 'Luis Alberto Cruz Peña' ]
grupoB=['Marta Luz Valencia Zuluaga','Kevin Yamit Ruales Mora','Andres José Garcia Montoya','John Fredy Hernández Granada','Xiomara Hernandez Camargo','Santiago Orozco Montoya']
grupoC=['Janeth Leal Bello','Alexander Alonso Encarnacion','Gustavo Amador Crespo Habib','Luis Miguel Moreno Bermudez','Juan Diego Gamba Villamil','Jaime Andres Castrillon Estrada']
grupoD=['Ana Maria Valencia Ruiz','Fredy Andrés Rivera Sotto','Edwin Jesus Ariza Parra','Alejandro Hernandez Arango','Julio Cesar Valencia Maturana','Santiago Alvarez Lopez','Juan David Romero Marin']
#pisos rondas
pisos_grupoA_R=df_MI.loc[(df_MI['Servicio'] == 'Piso 6 Medicina Interna Norte')|(df_MI['Servicio'] == 'Piso 6 Medicina Interna Sur')|(df_MI['Servicio'] == 'Piso 8 Medicina Interna Norte')|(df_MI['Servicio'] == 'Piso 9 Medicina Interna Norte')]
pisos_grupoB_R=df_MI.loc[(df_MI['Servicio'] == 'Piso 3 Occidente')|(df_MI['Servicio'] == 'Piso 3 Oriente')|(df_MI['Servicio'] == 'Piso 4 Medicina Interna Sur')|(df_MI['Servicio'] == 'Piso 9 Medicina Interna Sur')]
pisos_grupoC_R=df_MI.loc[(df_MI['Servicio'] == 'Piso 3')|(df_MI['Servicio'] == 'Piso 7 Medicina Interna Norte')|(df_MI['Servicio'] == 'Piso 7 Medicina Interna Sur')|(df_MI['Servicio'] == 'Piso 8 Medicina Interna Sur')]
pisos_grupoD_R= df_MI.loc[(df_MI['Servicio'] == 'Piso 5 Medicina Interna Norte')|(df_MI['Servicio'] == 'Piso 5 Medicina Interna Sur')|(df_MI['Servicio'] == 'Piso_10 Medicina Interna')]
#pisos Interconsultas
pisos_grupoA_IC=df_MI_IC.loc[(df_MI_IC['Servicio'] == 'Piso 6 Medicina Interna Norte')|(df_MI_IC['Servicio'] == 'Piso 6 Medicina Interna Sur')|(df_MI_IC['Servicio'] == 'Piso 8 Medicina Interna Norte')|(df_MI_IC['Servicio'] == 'Piso 9 Medicina Interna Norte')]
pisos_grupoB_IC=df_MI_IC.loc[(df_MI_IC['Servicio'] == 'Piso 3 Occidente')|(df_MI_IC['Servicio'] == 'Piso 3 Oriente')|(df_MI_IC['Servicio'] == 'Piso 4 Medicina Interna Sur')|(df_MI_IC['Servicio'] == 'Piso 9 Medicina Interna Sur')]
pisos_grupoC_IC=df_MI_IC.loc[(df_MI_IC['Servicio'] == 'Piso 3')|(df_MI_IC['Servicio'] == 'Piso 7 Medicina Interna Norte')|(df_MI_IC['Servicio'] == 'Piso 7 Medicina Interna Sur')|(df_MI_IC['Servicio'] == 'Piso 8 Medicina Interna Sur')]
pisos_grupoD_IC=df_MI_IC.loc[(df_MI_IC['Servicio'] == 'Piso 5 Medicina Interna Norte')|(df_MI_IC['Servicio'] == 'Piso 5 Medicina Interna Sur')|(df_MI_IC['Servicio'] == 'Piso_10 Medicina Interna')]
#pisos rondas

if letragrupo=='a':
    #rondas
    grupo=grupoA
    piso=pisos_grupoA_R
    grupo_R=conteo(grupo,piso)
    #IC
    grupo=grupoA
    piso=pisos_grupoA_IC
    grupo_IC=conteo(grupo,piso)
    #completo
    Grupo_total= grupo_IC.add(grupo_R)
    stats=Grupo_total.describe()
    stats.to_excel('descripcion_{}.xlsx'.format(letragrupo))
    Grupo_total=Grupo_total.fillna(0)
    X=Grupo_total['numero_pacientes']
    Grupo_total=Grupo_total.drop('numero_pacientes',axis=1)
    Grupo_total['num_paciente_vistos']=(Grupo_total.sum(axis = 1, skipna = True))
    Grupo_total['numero_pacientes']=X
    Grupo_total.to_excel('grupo_{}.xlsx'.format(letragrupo))
    stats
elif letragrupo=='b':
    #rondas
    grupo=grupoB
    piso=pisos_grupoB_R
    grupo_R=conteo(grupo,piso)
    #IC
    grupo=grupoB
    piso=pisos_grupoB_IC
    grupo_IC=conteo(grupo,piso)
    #completo
    Grupo_total= grupo_IC.add(grupo_R)
    stats=Grupo_total.describe()
    stats.to_excel('descripcion_{}.xlsx'.format(letragrupo))
    Grupo_total=Grupo_total.fillna(0)
    X=Grupo_total['numero_pacientes']
    Grupo_total=Grupo_total.drop('numero_pacientes',axis=1)
    Grupo_total['num_paciente_vistos']=(Grupo_total.sum(axis = 1, skipna = True))
    Grupo_total['numero_pacientes']=X
    Grupo_total.to_excel('grupo_{}.xlsx'.format(letragrupo)) 
    stats
elif letragrupo=='c':
    #rondas
    grupo=grupoC
    piso=pisos_grupoC_R
    grupo_R=conteo(grupo,piso)
    #IC
    grupo=grupoC
    piso=pisos_grupoC_IC
    grupo_IC=conteo(grupo,piso)
    #completo
    Grupo_total= grupo_IC.add(grupo_R)
    stats=Grupo_total.describe()
    stats.to_excel('descripcion_{}.xlsx'.format(letragrupo))
    Grupo_total=Grupo_total.fillna(0)
    X=Grupo_total['numero_pacientes']
    Grupo_total=Grupo_total.drop('numero_pacientes',axis=1)
    Grupo_total['num_paciente_vistos']=(Grupo_total.sum(axis = 1, skipna = True))
    Grupo_total['numero_pacientes']=X
    Grupo_total.to_excel('grupo_{}.xlsx'.format(letragrupo)) 
    stats
elif letragrupo=='d':
    #rondas
    grupo=grupoD
    piso=pisos_grupoD_R
    grupo_R=conteo(grupo,piso)
    #IC
    grupo=grupoD
    piso=pisos_grupoD_IC
    grupo_IC=conteo(grupo,piso)
    #completo
    Grupo_total= grupo_IC.add(grupo_R)
    stats=Grupo_total.describe()
    stats.to_excel('descripcion_{}.xlsx'.format(letragrupo))
    Grupo_total=Grupo_total.fillna(0)
    X=Grupo_total['numero_pacientes']
    Grupo_total=Grupo_total.drop('numero_pacientes',axis=1)
    Grupo_total['num_paciente_vistos']=(Grupo_total.sum(axis = 1, skipna = True))
    Grupo_total['numero_pacientes']=X
    Grupo_total.to_excel('grupo_{}.xlsx'.format(letragrupo))
    stats
else:
        print ('grupo no existe')

ingrese la letra del grupo:d

In [281]:
stats=Grupo_total.describe()
stats.to_excel('descripcion_{}.xlsx'.format(letragrupo))

In [301]:
stats

,Santiago Alvarez Lopez,Alejandro Hernandez Arango,Edwin Jesus Ariza Parra,Fredy Andrés Rivera Sotto,Ana Maria Valencia Ruiz,numero_pacientes
count,10.000000,12.000000,50.000000,25.000000,37.000000,74.000000
mean,15.900000,21.333333,19.520000,17.320000,18.351351,53.013514
std,6.384878,6.879922,6.112016,5.728001,4.744682,6.636333
min,10.000000,13.000000,10.000000,10.000000,11.000000,38.000000
25%,12.250000,14.000000,16.000000,14.000000,15.000000,48.250000
50%,13.500000,23.500000,18.500000,15.000000,18.000000,53.000000
75%,17.000000,27.000000,22.000000,21.000000,20.000000,57.000000
max,30.000000,32.000000,35.000000,29.000000,30.000000,69.000000

In [292]:
Grupo_total

,Luis Alberto Cruz Peña,Juliana Marcela Bustamante Trespalacios,Luis Carlos Caparroso Perez,Marco Guardia Castro,Jhon Jairo Reyes Rodriguez,num_paciente_vistos,numero_pacientes
Fecha,,,,,,,
01/09/2020,0.0,0.0,13.0,13.0,0.0,26.0,39
01/10/2020,0.0,0.0,0.0,15.0,0.0,15.0,46
01/11/2020,0.0,0.0,17.0,27.0,0.0,44.0,44
02/09/2020,0.0,0.0,13.0,0.0,0.0,13.0,36
02/10/2020,18.0,0.0,0.0,13.0,0.0,31.0,45
...,...,...,...,...,...,...,...
29/09/2020,0.0,0.0,17.0,0.0,12.0,29.0,41
29/10/2020,0.0,10.0,12.0,0.0,0.0,22.0,45
30/09/2020,21.0,0.0,0.0,0.0,0.0,21.0,41
30/10/2020,0.0,0.0,16.0,17.0,0.0,33.0,46
31/10/2020,0.0,0.0,22.0,0.0,0.0,22.0,44

In [321]:
#GrupoB Interconsultas
def conteo(grupo,piso):
    #Crear el grupo B filtrado por pisos
    df_MI_grupoB=piso
    df_MI_grupoB.reset_index(drop=True)
    #Borrramos las notas adicionales 
    #indexNames = df_MI_grupoB[ df_MI['Tipone'] =='notas'].index
   # df_MI_grupoB.drop(indexNames , inplace=True)
    pac_grupoB=df_MI_grupoB['Fecha'].value_counts(dropna=True)
    #le damos formato a las variables
    pac_grupoB = pd.DataFrame(pac_grupoB)
    pac_grupoB = pac_grupoB.reset_index()
    pac_grupoB.columns = ['Fecha', 'numero_pacientes']
    pac_grupoB.set_index('Fecha')

    #cuenta los pacientes por medico en el grupo  y los agrega al DF

    Medico=df_MI_grupoB['Medico']==grupo[0]
    df_Medico=df_MI_grupoB[Medico]
    df_Medico.set_index('Fecha')
    df_count=df_Medico.groupby('Fecha').count()
    Medicodf=df_count['NotaEvolucionId']
    Medicodf=pd.DataFrame(Medicodf)
    Medicodf.columns = [grupo[0]]
    Grupo_B=pd.merge(Medicodf,pac_grupoB, indicator=False, how='right', on='Fecha')

    #cuenta los pacientes por medico en el grupo  y los agrega al DF

    Medico=df_MI_grupoB['Medico']==grupo[1]
    df_Medico=df_MI_grupoB[Medico]
    df_Medico.set_index('Fecha')
    df_count=df_Medico.groupby('Fecha').count()
    Medicodf=df_count['NotaEvolucionId']
    Medicodf=pd.DataFrame(Medicodf)
    Medicodf.columns = [grupo[1]]
    Grupo_B1=pd.merge(Medicodf,Grupo_B, indicator=False, how='right', on='Fecha')
    #cuenta los pacientes por medico en el grupo  y los agrega al DF

    Medico=df_MI_grupoB['Medico']==grupo[2]
    df_Medico=df_MI_grupoB[Medico]
    df_Medico.set_index('Fecha')
    df_count=df_Medico.groupby('Fecha').count()
    Medicodf=df_count['NotaEvolucionId']
    Medicodf=pd.DataFrame(Medicodf)
    Medicodf.columns = [grupo[2]]
    Grupo_B2=pd.merge(Medicodf,Grupo_B1, indicator=False, how='right', on='Fecha')
    #cuenta los pacientes por medico en el grupo  y los agrega al DF

    Medico=df_MI_grupoB['Medico']==grupo[3]
    df_Medico=df_MI_grupoB[Medico]
    df_Medico.set_index('Fecha')
    df_count=df_Medico.groupby('Fecha').count()
    Medicodf=df_count['NotaEvolucionId']
    Medicodf=pd.DataFrame(Medicodf)
    Medicodf.columns = [grupo[3]]
    Grupo_B3=pd.merge(Medicodf,Grupo_B2, indicator=False, how='right', on='Fecha')
    #cuenta los pacientes por medico en el grupo  y los agrega al DF

    Medico=df_MI_grupoB['Medico']==grupo[4]
    df_Medico=df_MI_grupoB[Medico]
    df_Medico.set_index('Fecha')
    df_count=df_Medico.groupby('Fecha').count()
    Medicodf=df_count['NotaEvolucionId']
    Medicodf=pd.DataFrame(Medicodf)
    Medicodf.columns = [grupo[4]]
    Grupo_B4=pd.merge(Medicodf,Grupo_B3, indicator=False, how='right', on='Fecha')

    #cuenta los pacientes por medico en el grupo  y los agrega al DF

    Medico=df_MI_grupoB['Medico']==grupo[5]
    df_Medico=df_MI_grupoB[Medico]
    df_Medico.set_index('Fecha')
    df_count=df_Medico.groupby('Fecha').count()
    Medicodf=df_count['NotaEvolucionId']
    Medicodf=pd.DataFrame(Medicodf)
    Medicodf.columns = [grupo[5]]
    Grupo_B5=pd.merge(Medicodf,Grupo_B4, indicator=False, how='right', on='Fecha')
    Grupo_IC=Grupo_B5.set_index('Fecha')
    
    try:
        Medico=df_MI_grupoB['Medico']==grupo[6]
        df_Medico=df_MI_grupoB[Medico]
        df_Medico.set_index('Fecha')
        df_count=df_Medico.groupby('Fecha').count()
        Medicodf=df_count['NotaEvolucionId']
        Medicodf=pd.DataFrame(Medicodf)
        Medicodf.columns = [grupo[6]]
        Grupo_B6=pd.merge(Medicodf,Grupo_B5, indicator=False, how='right', on='Fecha')
        Grupo_IC=Grupo_B6.set_index('Fecha')
    except:
        pass
    try:
        Medico=df_MI_grupoB['Medico']==grupo[7]
        df_Medico=df_MI_grupoB[Medico]
        df_Medico.set_index('Fecha')
        df_count=df_Medico.groupby('Fecha').count()
        Medicodf=df_count['NotaEvolucionId']
        Medicodf=pd.DataFrame(Medicodf)
        Medicodf.columns = [grupo[7]]
        Grupo_B7=pd.merge(Medicodf,Grupo_B6, indicator=False, how='right', on='Fecha')
        Grupo_IC=Grupo_B7.set_index('Fecha')
    except:
        pass
    return Grupo_IC

In [252]:
grupo_IC=interconsulta(grupo,piso)

In [253]:
grupo_IC

,Luis Alberto Cruz Peña,Juliana Marcela Bustamante Trespalacios,Luis Carlos Caparroso Perez,Marco Guardia Castro,Jhon Jairo Reyes Rodriguez,numero_pacientes
Fecha,,,,,,
01/09/2020,15.0,NaN,12.0,13.0,NaN,41
02/09/2020,12.0,NaN,11.0,12.0,NaN,35
02/10/2020,15.0,NaN,NaN,12.0,NaN,42
03/09/2020,13.0,NaN,NaN,14.0,NaN,40
03/10/2020,17.0,NaN,NaN,20.0,NaN,37
...,...,...,...,...,...,...
23/10/2020,NaN,NaN,NaN,14.0,NaN,40
24/10/2020,NaN,NaN,NaN,22.0,NaN,47
25/10/2020,NaN,NaN,NaN,21.0,NaN,45
26/09/2020,NaN,NaN,NaN,18.0,NaN,32
27/09/2020,NaN,NaN,NaN,20.0,NaN,36

In [195]:
#armar el data set total 
Grupo_B_total= Grupo_B4_IC.add(Grupo_B4_R, fill_value=0)
Grupo_B_total=Grupo_B_total.fillna(0)
X=Grupo_B_total['numero_pacientes']
Grupo_B_total=Grupo_B_total.drop('numero_pacientes',axis=1)
Grupo_B_total['num_paciente_vistos']=(Grupo_B_total.sum(axis = 1, skipna = True))
Grupo_B_total['numero_pacientes']=X